langchain
ipykernel
python.env
langchain_community
pypdf
bs4
arxiv
fitz
frontend
pymupdf
wikipedia
langchain-openai
chromadb
langchain_huggingface
sentence-transformers
faiss-cpu
langchain_chroma
langchain-core
langchain-community
streamlit
python-dotenv
langchain-text-splitters
sentence_transformers
duckdb
pandas
openai
langchain-groq
duckduckgo_search==5.3.1b1
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
openpyxl
fastapi
uvicorn
langserve[all]
